.clockblock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
}

.dateblock {
  display: flex;
  justify-content: left;
  align-items:flex-start;
  font-size: 4vw;
}

.weekend {
  color: rgb(255, 51, 51);
}